# Gradle
.gradle/
build/
!gradle-wrapper.jar

# Local configuration
local.properties
gradle.properties
28282D1A.gpg

# Kotlin
.kotlin/

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws
out/
captures/
.externalNativeBuild/
.cxx/

# Android
*.aab
*.apk
*.ap_
output-metadata.json

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# iOS / CocoaPods
xcuserdata/
Pods/
*.xcworkspace

# OS files
.DS_Store
Thumbs.db
*.log

# Android Profiling
*.hprof

# Claude
CLAUDE.md
