html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#root, #compose-viewport {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

